<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
	<h1><%= title %></h1>

	<section class="row placeholders">

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<h1><%= user %></h1>
					<form id='edit-form' class="form-horizontal">
						<input type="hidden" name="u-no" value="<%= u_no %>">
						<div class="form-group">
							<label for="">请选择职位级别</label>
							<select id="department" name="department" class="form-control">
								<% departments.forEach(function (element) { %>
									<option value="<%= element %>"><%= element %></option>
								<% }) %>
							</select>
					</div>
						<div class="form-group">
							<label for="">请选择职位级别</label>
							<select id="department" name="position" class="form-control">
								<% positions.forEach(function (element) { %>
									<option value="<%= element %>"><%= element %></option>
								<% }) %>
							</select>
					</div>
					<button type="button" id="edit-button" class="btn btn-primary">保存</button>
					</form>
			</div>
		</div>
	</section>

</main>
<script src="/dist/js/edit.js"></script>
