<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
	<h1><%= title %></h1>

	<section class="row placeholders">

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<table class="table table-hover table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>职位名称</th>
          <th>职位介绍</th>
          <th>职位备注</th>
					<% if(checkPermission == 0) { %>
          <th colspan="3">操作</th>
					<% } %>
        </tr>
      </thead>
      <tbody>
				<% allPositions.forEach(function (item) { %>
					<tr>
						<td><%= item['p_name'] %></td>
						<td><%= item['p_intro'] %></td>
						<td><%= item['p_remark'] %></td>
						<% if(checkPermission == 0) { %>
						<td>
							<form action="/user/overview/positions/delete" id="p<%= item['p_no'] %>" method="post" style="display: none">
								<input type="hidden" name="d-no" value="<%= item['p_no'] %>">
							</form>
							<a onclick="if(confirm('你确定将 <%= item['p_name'] %> 彻底删除吗？')){
								document.getElementById('p<%= item['p_no'] %>').submit();
								event.preventDefault();
						}
						" href="#">彻底删除</a></td>
					</tr>
					<% } %>
				<% }) %>



      </tbody>
    </table>
		</div>
	</section>

</main>
