<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
	<h1><%= title %></h1>

	<section class="row placeholders">

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#easy-search" role="tab">简单查询</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#complex-search" role="tab">复杂查询</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade active" role="tabpanel" id="easy-search" aria-expanded="true">

					<form id='easy-search-form' action="/user/search/easy-search" method="post" class="form-horizontal">
						<div class="form-group clearfix">
							<label for="search-name" class="col-sm-2 control-label">查询名字</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="search-name" id='search-name' >
							</div>
						</div>
						<div class="form-group clearfix">
							<div class="text-center">
								<button type="submit" id="easy-search-button" class="btn btn-primary">查询</button>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" role="tabpanel" id="complex-search" aria-expanded="false">
					<form id='complex-search-form' action="/user/search/complex-search" method="post" class="form-horizontal">
						<div class="form-group">
							<label for="search-name">查询内容</label>
							<div>
								<input type="text" id="search-name" class="form-control" name="search-name" required>
							</div>
						</div>
						<div class="form-group">
							<label for="">查询选项</label>
							<select id="search-option" name="search-option" class="form-control" required>
									<option  value=""></option>
									<option value="u_name">姓名</option>
									<option value="u_tel">手机号码</option>
									<option value="u_qq">QQ</option>
									<option value="u_school_college">学院</option>
									<option value="u_college_department">专业</option>
							</select>
					</div>
						<div class="form-group">
							<label for="">请选择部门</label>
							<select id="department" name="search-department" class="form-control">
									<option value=""></option>
								<% departments.forEach(function (element) { %>
									<option value="<%= element %>"><%= element %></option>
								<% }) %>
							</select>
					</div>
						<div class="form-group">
							<label for="position">请选择职位级别</label>
							<select id="position" name="search-position" class="form-control">
									<option value=""></option>
								<% positions.forEach(function (element) { %>
									<option value="<%= element %>"><%= element %></option>
								<% }) %>
							</select>
					</div>
						<div class="form-group clearfix">
							<div class="text-center">
								<button type="submit" id="complex-search-button" class="btn btn-primary">模糊查询</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<% if (allUsers) { %>
				<table class="table table-hover table-bordered">
				<thead class="thead-inverse">
					<tr>
						<th>姓名</th>
						<th>学号</th>
						<th>性别</th>
						<th>职位</th>
						<th>部门</th>
						<th colspan="3">操作</th>
					</tr>
				</thead>
				<tbody>
				<% allUsers.forEach(function (item) { %>
					<tr>
						<td><%= item['u_name'] %></td>
						<td><%= item['u_no'] %></td>
						<td><%= item['u_sex'] %></td>
						<td><%= item['u_position'] %></td>
						<td><%= item['u_department'] %></td>
						<td><a href="/user/overview/detail?u_no=<%= item['u_no'] %>">详情</a></td>
						<td><a href="/user/overview/edit/?u_no=<%= item['u_no'] %>">编辑</a></td>
						<td>
							<form action="/user/overview/recycle" id="u<%= item['u_no'] %>" method="post" style="display: none">
								<input type="hidden" name="u-no" value="<%= item['u_no'] %>">
							</form>
							<a onclick="if(confirm('你确定将 <%= item['u_name'] %> 放入回收站吗？')){
								document.getElementById('u<%= item['u_no'] %>').submit();
								event.preventDefault();
						}
						" href="#">删除</a></td>
					</tr>
				<% }) }%>



			</tbody>
		</table>
		</div>
	</section>

</main>
<script src="/dist/js/modify-user-info.js"></script>
